body{
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, rgb(2, 12, 94),rgb(31, 177, 169));
    position: relative;
    
}
h1{
    color: white;
}

#addBtn{
    padding: 15px 152px;
    
}

button{
    border-style:none;
    outline: none;
    border: 1px solid #ffff;
    color: rgb(246, 246, 250);
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 25px ;
    font-size: 16px;
    border-radius: 5px;
}

.delete_btn{
    background-color: rgb(247, 14, 14);
    margin-left: 25px;
}

.delete_btn:hover{
    background-color: rgb(179, 8, 8);
}

button:hover{
    background-color: rgb(87, 87, 231);
    cursor: pointer;
}

.formClass{
    padding-bottom: 20px;
}

label{
    /* font-size: 50px; */
    color: #ffff;
    font-weight: 600;
    padding-right: 20px;
}

.mainFormLabel{
    font-size: 20px;
}

input{
    padding: 10px 0px;
    
    display: inline-block;
    /* border: 2px solid #050505; */
    border-radius: 5px;
    text-indent: 10px;
    font-size: 16px;
    border-style: none;
    outline: none;
    text-align: center;
    
}
select{
    text-indent: 0px;
    /* border: 2px solid #050505; */
    border-style: none;
    font-size: 16px;
    padding: 9px 59px;
    border-radius: 5px;
    outline: none;
    text-align: left;
    
}
table{
    margin-right: 20px;
    margin-top: 1%;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    height: 100%;
    
}
th{
    padding: 20px 30px;
    font-weight: 600;
    font-size: 20px;
    background-color: blue;
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


tr:nth-child(even) {
    background-color: #3b96d3;
    

}
td{
    color: rgb(247, 244, 244);
    padding:  20px 0 15px 28px;
    display: table-cell;
    vertical-align: 100% ;
    
    font-size: 18px;
    border: 1px solid #ddd;
   
}


.popup{
    display: none;
    position: fixed;
    margin-top: 50px;
    color: white;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.Edit_Label{
    color: #f8f2f2;
    margin-bottom: 10px;
}

.Edit_input{
    margin-bottom: 10px;
}

#editEmpName {
    margin-left: 47px;
}

#editEmpAge{
    margin-left: 59px;
}

#editEmpGender{
    margin-left: 36px;
}

.middle_line{
    margin: 0;
    position: fixed;
    margin-right: 20%;
    height: 100%;
    width: 0px;
    border: white solid 1px;
}

/* #editPopup.delete_btn{
    margin-bottom: 10px;

} */

tr:hover {
    background-color: #0eb3e6;
}

#EmpName{
    margin-left: 61px;
}

#EmpAge{
    margin-left: 75px;
}

#Emp_gender{
    margin-left: 42px;
}