body{
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, rgb(27, 52, 245),rgb(44, 230, 221));
    position: relative;
    
}
h1{
    position: relative;
    
    color: white;
}

form{
    position: relative;
}

button{
    border-style:inset;
    border: 1px solid #ffff;
    color: rgb(246, 246, 250);
    background-color: blue;
    padding: 15px 15px;
    border-radius: 5px;
}
.delete_btn{
    background-color: blue(0, 4, 255);
}

.delete_btn:hover{
    background-color: rgb(87, 87, 231);
}
button:hover{
    background-color: rgb(87, 87, 231);
    cursor: pointer;
}
div{
    padding-bottom: 20px;
}
label{
    font-size: 18px;
    color: #ffff;
    font-weight: 600;
    padding-right: 20px;
}

input{
    padding: 10px 0px;
    
    display: inline-block;
    border: 2px solid #050505;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 15px;
    
}
select{
    text-indent: 0px;
    border: 2px solid #050505;
    font-size: 16px;
    border-radius: 5px;
    
}
table{
    margin-right: 20px;
    margin-top: 1%;
    
}
th{
    padding: 20px 30px;
}
td{
    color: rgb(247, 244, 244);
    padding:  0 0 0 28px;
    display: table-cell;
    vertical-align: middle ;
}

.popup{
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: #ffff;
    z-index: 999;
}

.Edit_Label{
    color: #050505;
}

